[Unit]
Description=jupyter lab start service
After=multi-user.target

[Service]
Type=idle
User=root
Environment="LD_PRELOAD=/usr/lib/aarch64-linux-gnu/libgomp.so.1"
ExecStart=/bin/sh -c "jupyter lab"
WorkingDirectory=/root

[Install]
WantedBy=multi-user.target
