[Unit]
Description=yahboom_oled start service
After=multi-user.target

[Service]
Type=idle
User=root
ExecStart=/bin/sh -c "python3 /root/sunriseRobot/app_SunriseRobot/oled.py"
WorkingDirectory=/root

[Install]
WantedBy=multi-user.target
