[Desktop Entry]
Type=Application
Exec=bash /root/GIT/yahboom_rdk_x3_robot/sunriseRobot/script_launchers/start_robot_control.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Robot_Control
Name=Robot_Control
Comment[en_US]=Main loop for the custom code
Comment=Main loop for the custom code