[Desktop Entry]
Type=Application
Exec=source /opt/ros/foxy/setup.bash;source /root/marco_ros2_ws/install/local_setup.bash;source /root/software/library_ws/install/local_setup.bash;python3 /root/GIT/yahboom_rdk_x3_robot/sunriseRobot/app_SunriseRobot/main_thread.py
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
Name[en_US]=Robot_Control
Name=Robot_Control
Comment[en_US]=Main loop for the custom code
Comment=Main loop for the custom code